In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

In [2]:
dataset = pd.read_csv('/content/heart.csv')

In [3]:
dataset

     Age Sex ChestPainType  ...  Oldpeak  ST_Slope  HeartDisease
0     40   M           ATA  ...      0.0        Up             0
1     49   F           NAP  ...      1.0      Flat             1
2     37   M           ATA  ...      0.0        Up             0
3     48   F           ASY  ...      1.5      Flat             1
4     54   M           NAP  ...      0.0        Up             0
..   ...  ..           ...  ...      ...       ...           ...
913   45   M            TA  ...      1.2      Flat             1
914   68   M           ASY  ...      3.4      Flat             1
915   57   M           ASY  ...      1.2      Flat             1
916   57   F           ATA  ...      0.0      Flat             1
917   38   M           NAP  ...      0.0        Up             0

[918 rows x 12 columns]

In [4]:
dataset.isnull().sum()

Age               0
Sex               0
ChestPainType     0
RestingBP         0
Cholesterol       0
FastingBS         0
RestingECG        0
MaxHR             0
ExerciseAngina    0
Oldpeak           0
ST_Slope          0
HeartDisease      0
dtype: int64

In [5]:
corr = dataset.corr()
corr.style\
    .background_gradient(cmap='bwr')\
    .set_precision(2)

In [6]:
dataset = dataset.drop(['Cholesterol', 'MaxHR'], axis=1)
dataset

     Age Sex ChestPainType  ...  Oldpeak  ST_Slope HeartDisease
0     40   M           ATA  ...      0.0        Up            0
1     49   F           NAP  ...      1.0      Flat            1
2     37   M           ATA  ...      0.0        Up            0
3     48   F           ASY  ...      1.5      Flat            1
4     54   M           NAP  ...      0.0        Up            0
..   ...  ..           ...  ...      ...       ...          ...
913   45   M            TA  ...      1.2      Flat            1
914   68   M           ASY  ...      3.4      Flat            1
915   57   M           ASY  ...      1.2      Flat            1
916   57   F           ATA  ...      0.0      Flat            1
917   38   M           NAP  ...      0.0        Up            0

[918 rows x 10 columns]

In [7]:
dataset.select_dtypes(exclude="number").nunique()

Sex               2
ChestPainType     4
RestingECG        3
ExerciseAngina    2
ST_Slope          3
dtype: int64

In [8]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
dataset['Sex']=le.fit_transform(dataset['Sex'])
dataset['ExerciseAngina']=le.fit_transform(dataset['ExerciseAngina'])
dataset

     Age  Sex ChestPainType  ...  Oldpeak  ST_Slope HeartDisease
0     40    1           ATA  ...      0.0        Up            0
1     49    0           NAP  ...      1.0      Flat            1
2     37    1           ATA  ...      0.0        Up            0
3     48    0           ASY  ...      1.5      Flat            1
4     54    1           NAP  ...      0.0        Up            0
..   ...  ...           ...  ...      ...       ...          ...
913   45    1            TA  ...      1.2      Flat            1
914   68    1           ASY  ...      3.4      Flat            1
915   57    1           ASY  ...      1.2      Flat            1
916   57    0           ATA  ...      0.0      Flat            1
917   38    1           NAP  ...      0.0        Up            0

[918 rows x 10 columns]

In [9]:
dataset = pd.get_dummies(dataset, drop_first=False)
dataset

     Age  Sex  RestingBP  ...  ST_Slope_Down  ST_Slope_Flat  ST_Slope_Up
0     40    1        140  ...              0              0            1
1     49    0        160  ...              0              1            0
2     37    1        130  ...              0              0            1
3     48    0        138  ...              0              1            0
4     54    1        150  ...              0              0            1
..   ...  ...        ...  ...            ...            ...          ...
913   45    1        110  ...              0              1            0
914   68    1        144  ...              0              1            0
915   57    1        130  ...              0              1            0
916   57    0        130  ...              0              1            0
917   38    1        138  ...              0              0            1

[918 rows x 17 columns]

In [10]:
heart_dis = dataset['HeartDisease']
dataset = dataset.drop('HeartDisease', axis=1)
dataset.insert(loc=len(dataset.columns), column='HeartDisease', value=heart_dis)
dataset

     Age  Sex  RestingBP  ...  ST_Slope_Flat  ST_Slope_Up  HeartDisease
0     40    1        140  ...              0            1             0
1     49    0        160  ...              1            0             1
2     37    1        130  ...              0            1             0
3     48    0        138  ...              1            0             1
4     54    1        150  ...              0            1             0
..   ...  ...        ...  ...            ...          ...           ...
913   45    1        110  ...              1            0             1
914   68    1        144  ...              1            0             1
915   57    1        130  ...              1            0             1
916   57    0        130  ...              1            0             1
917   38    1        138  ...              0            1             0

[918 rows x 17 columns]

In [11]:
x = dataset.iloc[:, :-1].values
y = dataset.iloc[:, -1].values

In [12]:
print(x)
print(y)

[[ 40.   1. 140. ...   0.   0.   1.]
 [ 49.   0. 160. ...   0.   1.   0.]
 [ 37.   1. 130. ...   0.   0.   1.]
 ...
 [ 57.   1. 130. ...   0.   1.   0.]
 [ 57.   0. 130. ...   0.   1.   0.]
 [ 38.   1. 138. ...   0.   0.   1.]]
[0 1 0 1 0 0 0 0 1 0 0 1 0 1 0 0 1 0 1 1 0 0 0 1 0 0 0 0 0 0 1 0 1 1 0 0 1
 0 0 0 0 1 0 0 1 0 0 0 0 1 1 1 0 0 0 0 1 1 0 1 0 0 0 1 0 0 0 0 1 0 1 0 1 0
 1 0 1 0 0 1 0 0 1 0 1 1 1 0 1 0 0 0 0 1 0 1 0 0 0 0 1 0 1 1 1 0 0 0 0 0 0
 1 0 0 0 1 1 1 0 1 1 0 0 1 0 0 0 0 0 0 0 1 1 1 0 1 0 0 1 1 1 1 1 0 1 0 0 0
 0 1 0 0 0 0 0 1 1 0 1 0 1 1 0 0 0 1 1 0 0 0 0 0 0 0 1 1 1 0 0 0 1 0 1 0 0
 1 0 1 0 1 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 1 0 1 1 1 0 0 1 0 1 0 0 0 1 1
 0 0 0 1 0 1 0 0 0 0 0 0 0 0 1 1 1 1 0 1 1 0 1 0 1 1 1 1 1 1 0 0 1 0 0 0 0
 0 0 0 1 1 1 0 1 0 1 0 0 0 1 0 0 0 1 1 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 1 1 1
 1 1 1 1 1 0 1 1 1 1 1 0 1 1 0 1 1 1 0 1 1 1 1 1 1 1 1 1 1 1 0 1 1 1 1 1 0
 1 1 1 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 0 1 1 0 0 1 0 1 1 0 1 1 1 1 0 1 1 0 0 1 1 1 0 1 1 1 1
 1 1 1 1 1 1 1 1 1 0 1 0 1 1 1 0 1 1 1 0 1 0 1 0 1 0 1 1 1 1 0 1 0 1 1 1 1
 1 1 1 1 1 0 1 0 1 1 1 1 1 1 1 0 1 1 1 1 1 1 0 1 1 1 0 1 1 0 1 0 1 1 0 1 1
 1 1 0 1 1 1 0 0 1 0 1 1 1 1 1 1 1 1 1 1 1 0 1 1 1 1 0 0 1 1 1 0 1 0 1 1 0
 1 0 1 1 1 0 0 0 1 1 1 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 1 1 1 0 1 1 0 0
 1 1 1 1 1 0 1 1 0 1 1 1 0 0 1 1 1 1 1 0 1 0 1 1 0 1 0 0 0 1 1 1 1 0 0 0 1
 0 0 1 1 0 0 1 0 0 0 0 0 0 0 1 0 1 0 0 1 1 1 1 1 0 0 1 0 0 0 1 0 1 1 1 1 1
 0 0 0 0 0 1 0 1 1 0 1 0 0 0 1 0 1 0 1 1 0 0 0 0 1 0 0 0 0 1 1 1 0 0 0 0 0
 0 1 0 1 1 1 1 1 0 1 0 0 0 1 0 1 1 1 0 1 1 0 1 0 1 0 0 0 1 1 0 1 1 1 1 0 0
 0 1 0 0 1 1 1 0 1 0 0 0 1 0 0 1 0 1 0 1 1 1 1 1 0 0 0 0 0 0 0 1 0 0 1 1 1
 0 1 0 0 0 0 0 1 0 1 1 0 0 1 1 1 1 0 0 1 1 0 0 0 1 0 0 1 0 1 0 1 0 0 0 0 0
 1 0 1 1 1 1 0 0 0 1 0 1 0 0 1 0 0 0 0 0 0 1 1 0 1 0 0 1 1 0 0 1 1 0 1 0 1
 0 1 0 0 1 0 0 1 0 1 1 0 1 1 1 0 1 0 0 0 0 1 1 0 0 1 1 0 1 0 0 0 0 1 0 0 1
 1 1 0 0 0 1 0 1 0 1 0 1 1 1 0 0 0 1 0 1 1 1 0 1 1 1 1 1 1 0]

In [13]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.25, random_state=27)

In [14]:
print(x_train)
print(y_train)
print(x_test)
print(y_test)

[[ 58.   1. 132. ...   1.   0.   0.]
 [ 39.   1. 140. ...   0.   0.   1.]
 [ 58.   0. 150. ...   0.   0.   1.]
 ...
 [ 41.   1. 135. ...   0.   1.   0.]
 [ 35.   1. 120. ...   0.   1.   0.]
 [ 36.   1. 120. ...   0.   1.   0.]]
[0 0 0 0 1 1 1 1 0 0 1 0 0 1 0 1 0 0 0 0 1 1 1 1 0 1 0 0 1 1 0 1 1 1 0 1 0
 1 0 0 1 1 1 1 1 0 1 1 0 0 1 0 1 1 1 1 1 0 1 1 0 1 1 1 0 0 1 1 0 0 1 1 0 1
 1 1 0 1 1 0 1 1 1 1 0 0 0 1 0 1 1 1 0 1 1 0 1 1 0 1 0 1 1 0 1 0 0 1 1 1 0
 1 0 1 0 1 1 0 1 0 0 0 1 0 1 1 0 0 0 1 0 1 1 0 1 1 0 0 0 0 1 0 0 0 0 0 0 1
 1 0 1 1 1 0 0 0 1 1 1 0 1 0 1 1 0 1 0 0 1 0 1 1 1 0 1 1 0 0 0 0 1 1 1 1 1
 1 1 1 1 1 1 1 1 0 1 1 1 1 1 0 0 0 1 1 1 0 0 0 1 0 1 0 1 1 0 0 1 0 1 1 0 0
 1 0 1 0 1 1 1 1 1 1 1 0 1 0 1 0 0 1 0 1 1 1 1 1 0 0 0 0 0 1 1 1 1 0 1 0 0
 0 0 1 1 1 1 1 1 0 1 1 1 0 0 1 1 1 1 1 1 1 0 1 0 1 1 1 0 1 0 1 0 1 1 0 0 1
 0 1 0 0 0 0 1 1 1 1 1 1 0 0 0 0 1 1 0 0 1 1 0 0 1 1 1 0 1 0 0 1 1 1 0 0 1
 0 0 1 0 1 1 1 1 0 1 1 1 0 1 1 1 1 1 0 1 1 0 0 1 1 1 0 1 1 0 1 1 1 0 1 0 0
 1 1 1 1 1 1 0 1 0 1 1 1 0 1 0 0 1 1 1 0 0 1 1 1 0 1 0 1 1 0 1 0 1 0 0 0 1
 1 1 1 0 1 0 1 0 1 1 0 1 1 0 1 0 0 0 1 1 0 0 0 1 1 0 1 0 0 1 0 1 1 0 1 0 1
 0 1 0 0 0 1 0 0 1 1 1 0 1 1 0 1 1 1 1 0 0 0 1 1 0 0 0 1 0 0 0 0 1 0 1 1 0
 0 1 1 1 0 1 1 1 0 0 0 1 0 1 1 0 0 0 1 0 0 0 1 1 1 1 0 1 0 0 1 1 0 1 0 0 0
 0 1 1 1 0 0 0 1 0 0 1 1 0 1 0 1 1 1 0 1 1 1 1 0 1 0 0 1 0 1 1 1 1 0 1 1 1
 0 1 1 1 0 0 1 0 1 0 0 1 1 1 1 0 0 0 0 0 0 1 0 0 0 1 1 0 0 0 1 0 0 1 0 1 1
 0 1 1 1 0 0 0 1 1 1 1 0 0 1 0 1 1 0 1 0 0 0 1 0 0 0 1 0 1 0 1 1 1 1 1 1 0
 1 1 1 1 0 0 1 0 1 1 0 0 1 0 0 0 0 1 1 1 1 0 0 1 1 0 1 1 0 0 1 0 0 1 1 1 0
 1 0 1 0 0 0 1 0 0 0 0 0 1 1 0 1 1 0 1 0 1 1]
[[ 67.   1. 146. ...   0.   1.   0.]
 [ 50.   1. 140. ...   0.   0.   1.]
 [ 43.   1. 140. ...   0.   1.   0.]
 ...
 [ 45.   1. 130. ...   0.   1.   0.]
 [ 48.   0. 150. ...   0.   1.   0.]
 [ 54.   0. 150. ...   0.   0.   1.]]
[1 0 1 1 1 1 0 0 1 0 0 1 1 0 0 0 0 1 1 0 0 0 0 1 0 0 0 1 0 1 1 1 1 0 1 0 1
 1 0 1 1 0 0 1 0 0 1 1 1 0 1 1 1 0 1 1 0 1 0 0 0 1 1 0 1 1 0 1 1 0 1 1 0 1
 0 0 0 1 0 0 1 1 1 1 1 1 0 1 1 0 0 0 1 1 1 0 0 0 1 0 0 1 0 1 1 0 1 0 1 1 1
 0 1 0 0 1 0 1 0 1 0 1 0 1 1 1 0 1 1 1 0 1 0 1 0 1 0 1 1 1 1 1 1 1 1 1 0 0
 1 0 1 1 0 1 0 0 0 1 0 1 1 1 0 0 1 1 1 0 0 0 1 1 0 1 0 0 1 1 0 0 1 0 0 1 1
 1 0 1 1 1 0 0 0 0 0 1 0 0 1 0 0 1 0 1 0 1 1 1 0 0 1 0 0 1 1 1 1 1 1 1 1 0
 1 1 0 1 0 1 0 0]

In [15]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x_train = sc.fit_transform(x_train)
x_test = sc.transform(x_test)

In [16]:
print(x_train)
print(x_test)

[[ 0.44461942  0.52352084 -0.06113116 ...  3.53414715 -1.01759666
  -0.84599688]
 [-1.58049036  0.52352084  0.38808899 ... -0.2829537  -1.01759666
   1.18203745]
 [ 0.44461942 -1.91014362  0.94961418 ... -0.2829537  -1.01759666
   1.18203745]
 ...
 [-1.36732091  0.52352084  0.1073264  ... -0.2829537   0.98270763
  -0.84599688]
 [-2.00682926  0.52352084 -0.73496138 ... -0.2829537   0.98270763
  -0.84599688]
 [-1.90024453  0.52352084 -0.73496138 ... -0.2829537   0.98270763
  -0.84599688]]
[[ 1.40388195  0.52352084  0.72500411 ... -0.2829537   0.98270763
  -0.84599688]
 [-0.40805838  0.52352084  0.38808899 ... -0.2829537  -1.01759666
   1.18203745]
 [-1.15415146  0.52352084  0.38808899 ... -0.2829537   0.98270763
  -0.84599688]
 ...
 [-0.94098201  0.52352084 -0.1734362  ... -0.2829537   0.98270763
  -0.84599688]
 [-0.62122783 -1.91014362  0.94961418 ... -0.2829537   0.98270763
  -0.84599688]
 [ 0.01828052 -1.91014362  0.94961418 ... -0.2829537  -1.01759666
   1.18203745]]

In [17]:
from sklearn.svm import SVC
classifier = SVC(kernel='rbf', random_state=27)
classifier.fit(x_train, y_train)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='rbf',
    max_iter=-1, probability=False, random_state=27, shrinking=True, tol=0.001,
    verbose=False)

In [18]:
y_pred = classifier.predict(x_test)

In [19]:
result_np = np.concatenate((y_pred.reshape(len(y_pred), 1), (y_test.reshape(len(y_test), 1))), 1)
result = pd.DataFrame(result_np, columns=['Prediction', 'Real_Value'])
result

     Prediction  Real_Value
0             1           1
1             0           0
2             1           1
3             1           1
4             1           1
..          ...         ...
225           1           1
226           1           0
227           1           1
228           1           0
229           0           0

[230 rows x 2 columns]

In [20]:
from sklearn.metrics import classification_report
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.89      0.81      0.85       104
           1       0.85      0.92      0.89       126

    accuracy                           0.87       230
   macro avg       0.87      0.86      0.87       230
weighted avg       0.87      0.87      0.87       230

In [21]:
from sklearn.model_selection import cross_val_score
val_score = cross_val_score(estimator=classifier, X = x_train, y=y_train, cv=10)
print("Accuracy: {:.2f} %".format(val_score.mean()*100))
print("Std. Dev: {:.2f} %".format(val_score.std()*100))

Accuracy: 84.89 %
Std. Dev: 3.25 %